pkgbase = orbitshell-git
	pkgdesc = Orbit shell daemon and CLI
	pkgver = 0.1.0.r46.gc65f5fa
	pkgrel = 1
	url = https://github.com/Magyx/orbit_shell
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = libxkbcommon
	makedepends = pkgconf
	makedepends = rust
	makedepends = wayland
	source = orbitshell::git+https://github.com/Magyx/orbit_shell.git
	b2sums = SKIP

pkgname = orbit-git
	pkgdesc = Orbit shell daemon and CLI
	depends = dbus
	depends = libxkbcommon
	depends = vulkan-icd-loader
	depends = wayland
	optdepends = vulkan-intel: Intel Vulkan driver
	optdepends = vulkan-radeon: AMD Radeon Vulkan driver
	optdepends = nvidia-utils: NVIDIA Vulkan driver
	provides = orbit=0.1.0.r46.gc65f5fa
	provides = orbitd=0.1.0.r46.gc65f5fa
	conflicts = orbit
	conflicts = orbitd

pkgname = orbit-module-wallpaper-git
	pkgdesc = Orbit module: wallpaper
	depends = orbit-git
	provides = orbit-module-wallpaper=0.1.0.r46.gc65f5fa
	conflicts = orbit-module-wallpaper

pkgname = orbit-module-bar-git
	pkgdesc = Orbit module: bar
	depends = orbit-git
	provides = orbit-module-bar=0.1.0.r46.gc65f5fa
	conflicts = orbit-module-bar
